.filter {
    display: flex;
    flex-direction: column;
    background: rgb(235, 233, 233);
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid rgb(182, 181, 181);
    border-radius: 10px;
    h2 {
        text-align: center;
        margin: 0 auto 15px;
    }
}

button {
    margin-bottom: 2px;
    border: none;
    border-radius: 5px;
}

.btn-light {
    color: rgb(60, 60, 60);
    background: rgb(153, 152, 152);
    border: 1px solid rgb(145, 143, 143);
    outline: 2px solid rgb(189, 187, 187);
}
.btn-dark {
    color: rgb(153, 152, 152);
    background: rgb(60, 60, 60);
    &:hover {
        background: rgb(91, 90, 90);
    }
    &:active {
        background: rgb(60, 60, 60);
    }
}