.side-nav {
    width: 200px;
    height: auto;
    margin: 20px;

    .add-form {
        background: rgb(235, 233, 233);
        margin-bottom: 20px;
        padding: 15px;
        box-sizing: border-box;
        border: 2px solid rgb(182, 181, 181);
        border-radius: 10px;
        h2 {
            text-align: center;
            margin: 0 auto 15px;
        }
        input {
            font-size: 20px;
            width: 100%;
            border: 1px solid grey;
            border-radius: 9px;
            padding: 0 0 0 10px;
            margin-bottom: 15px;
        }
    }
}
